* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Press Start 2P', monospace;  /* Custom font */
  color: white;
  text-align: center;
  background-color: black;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.text-container {
  position: absolute;
  top: 30%;  /* Adjusted to move the text a bit lower */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.main-text {
  font-size: 96px;  /* Larger text for fog.fyi */
  margin-bottom: 10px; /* Space between the two texts */
}

.small-text {
  font-size: 24px;  /* Smaller text for "coming soon..." */
  margin-top: 10px;
}
