/* margins and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', monospace; 
  color: white;
  text-align: center;
  background-color: black;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
}

.ascii-art-container {
  position: absolute;
  top: 40%; 
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2; 
}


.ascii-art {
  white-space: pre;
  font-size: 56px !important;
  font-family: 'Courier New', monospace; /
}


.small-text {
  font-size: 16px !important;
  margin-top: 10px !important;
  font-family: 'Courier New', monospace;
}
