* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  color: white;
  text-align: center;
  background-color: black;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.ascii-art-container {
  position: absolute;
  top: 35%; /* Adjusted to move text up */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.ascii-art {
  white-space: pre;
  font-size: 100px !important; /* Increase font size */
}

.small-text {
  font-size: 36px !important; /* Increase font size */
  margin-top: 20px;
}
